.grid-container {
  display: inline-grid;
  padding: 20px;
  background-color: rgb(255, 162, 162);
  grid-row-gap: 0px;
  grid-column-gap: 20px;
  grid-auto-rows: 1fr;
}

.grid-item {
  background-color: rgba(255,255,255,0.8);
  border: 1px solid rgba(0,0,0,0.8);
  padding: 20px;
  font-size: 15px;
  text-align: center;
}