.grid-container {
  display: inline-grid;
  padding: 20px;
  background-color: #EEE;
  border: 1px solid rgba(0,0,0,0.8);
  grid-row-gap: 0px;
  grid-column-gap: 20px;
  grid-template-rows: repeat(100, 0.5vh) auto;
}

.grid-data {
  background-color: rgba(255, 0, 0, 0.5);
  border: 1px solid rgba(0,0,0,0.8);
}

.grid-label-x {
  background-color: rgba(0,0,255,0.5);
  border: 1px solid rgba(0,0,0,0.8);
  padding: 20px;
  font-size: 15px;
  text-align: center;
}